<div class="row" style="position: absolute; z-index: 9999;width:100%; margin-top: -100px;">
<div class="login" id="change">
    <h2 class="home-title">About Kandela</h2>
    <div class="col-md-12">
        <p style="font-size: 20px; color: #ff0000 !important; font-weight: bold;">
           It is as simple as:
        </p>
        <ul>
            <li>Create an event</li>
            <li>Add it to your calendar</li>
            <li>Invite Users to Your event</li>
            <li>You can also request to join other events</li>
        </ul>

        <p>
            <a class="btn btn-lg btn-danger col-md-9" href="#/register">GET STARTED</a>
        </p>
    </div>

</div>
</div>