        <div class="col-md-12">
            <div class="col-md-12">
                <h2>User Profile</h2>
                <!--<h5>See below your awaiting invites. </h5>-->
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="col-md-12">
            <p>
                <img src="{{img}}" class="img-thumbnail">
            </p>
            <p>
                <table class="table table-striped">
                    <tr>
                        <th><p>Name</p></th>
                        <td><p>{{userData.name}}</p></td>
                    </tr>

                    <tr>
                        <th><p>Email</p></th>
                        <td><p>{{userData.email}}</p></td>
                    </tr>

                    <tr>
                        <th><p>Accepts Invite</p></th>
                        <td><p>{{userData.invite}}</p></td>
                    </tr>
                </table>
            </p>
        </div>
