<div class="row" style="position: absolute; z-index: 9999;width:100%; margin-top: -100px;">
<div class="login" id="change">
    <h2 class="home-title">TERMS AND CONDITION</h2>
    <div class="col-md-12">
        <p class="alert alert-success" style="display: none; color: #000000" id="smsg"></p>
        <p style="color: #ffffff !important;">
            Unlike other long terms
        </p>
       <ul>
           <li>
               Just don't create more than one account
           </li>
           <li>
               Don't invite people you don't know to your event
           </li>
       </ul>
<br/>

    </div>

</div>
</div>